:root{
    --primary-grey: var(#E2E2E2);
    --light-grey: var(#FAFAFA);
    --bdr-grey: var(#B4B4B4);
    --white: var(#FFFFFF);
    --purple: var(#8D3FC9);
    --green: var(#52CA1B);
    --light-green: var(#D6FFCC);
}

body{
    font-family: 'Albert Sans', 'Helvetica', sans-serif;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}